<div class="contain-to-grid green-bottom-boarder">
	<nav class="tab-bar top-bar" data-topbar>

		<section class="left-small">
			<h1 style="margin-left:55px;"><a href="/">Nemo</a></h1>
		</section>

		<section class="left-small left-shadow-boarder">
			<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
		</section>


		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li id="buzzfeed" ><a href="/buzz">The Buzz</a></li>
				<li id="newfeed" ><a href="/new">New Stuff</a></li>
				<li id="favorites" ><a href="/favorites">Favorites</a></li>
				<li id="blogfeed" ><a href="/blog">My Blog</a></li>
			<% if(user === undefined){ %>
				<li id="signinbutton"><a href="#"  class="alert button expand dropdown-button" data-reveal-id="signInModal">Sign In</a></li>
				<%- include sign-in-modal.ejs %>
			<% } else { %>
				<li class="has-dropdown">
					<a href="#" class="alert button">Welcome <%= user.username %>!</a>
					<ul class="dropdown">
						<li><a href="/logout" class="success button" data-reveal-id="collection-modal">Manage Collections</a></li>
						<li><a href="/logout" class="secondary button">Logout</a></li>
					</ul>
				</li>
				<%- include api-collections-modal.ejs %>
				<div class="reveal-modal-bg" style="display: none"></div>
			<% } %>
			</ul>
		</section>
	</nav>
</div>

<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<% if(user){ %>
			<% for(var i = 0, numApiGroups = user.collections.length; i < numApiGroups; i++) { %>
				<li id="<%= user.collections[i].name %>" class="collections">
					<label><%= user.collections[i].name %></label>
				</li>
			<% } %>
		<% } %>
	</ul>
	<button id="new-collection-btn" class="alert expand">New Collection</button>
	<%- include add-collection-modal.ejs %>
	<div class="reveal-modal-bg" style="display: none"></div>

</aside>

